.history-wrapper {
    // height: 100vh;
    height: 100%;
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
    user-select: none;

    .ant-input,
    .ant-input-focused,
    .ant-input:focus,
    .ant-input:active,
    .ant-input:hover {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
        background: none !important;
    }

    .content-wrapper {
        height: 90vh;
        width: 100%;
        padding: 80px 20px 130px 20px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // user-select: none;
    }

    .title-wrapper {
        width: 60%;
        // padding: 20% 0 3% 0;

        .label {
            color: #212123;
            text-align: center;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 20px;
            animation: 1.3s mainPageLabelAnimation ease-in-out;
        }

        .description {
            color: #544E6B;
            text-align: center;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            animation: 1.5s mainPageDescriptionAnimation ease-in-out;
        }

        @media (max-width: 768px) {
            width: 80%;

            .label {
                font-size: 20px;
            }

            .description {
                font-size: 15px;
            }
        }
    }

    .footer-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        // background-color: #0091ff;
        // align-items: center;
        align-content: space-between;
        justify-content: space-between;
        padding: 20px 30px;

        .footer-icons-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            a {
                color: #000;

                &:hover {
                    color: #0091ff;
                }

                .footer-icon {
                    font-size: 18px;
                }
            }

        }

        .footer-ai-wrapper {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 20px;

            .footer-ai-text {
                font-size: 14px;
            }

            .footer-ai-logo {
                margin-left: 10px;
            }
        }


        @media (max-width: 768px) {
            padding: 10px 15px;

            .footer-icons-wrapper {
                a {
                    .footer-icon {
                        font-size: 14px;
                    }
                }
            }

            .footer-ai-wrapper {
                display: flex;
                align-items: center;
                padding-right: 15px;

                .footer-ai-text {
                    font-size: 12px;
                }

                .footer-ai-logo {
                    margin-left: 10px;
                }
            }
        }
    }


    .main-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        bottom: 0;
        padding: 20px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        // background-color: #F2F4F8;

        .footer-legalens-logo {
            cursor: pointer;
            height: 50px;
            width: 180px;
        }

        .footer-description {
            text-align: center;
            font-weight: 500;
            font-size: 15px;
            padding: 20px 200px 40px 200px;
        }

        .footer-rights {
            font-size: 14px;
        }


    }
}