.mainWrapper {
    // background-color: red;
}

.marked {
    padding: 2px 7px;
    border-radius: 15px;
    color: #fff;
    background-color: #000;
}

.empty-content {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}