.results-wrapper {
    background: #f9f8f8;
    padding: 0 20px;
    height: 100vh;
    overflow: hidden;
}


// --------  LEFT FILTER BAR STYLES

.side-filter-bar {
    width: 300px;
    padding: 20px 10px 100px 15px;
    max-height: 100%;
    overflow-y: scroll;
    flex-shrink: 0;
    // background: #fff;
    // filter: drop-shadow(0px 0px 239.334px rgba(16, 32, 90, 0.22));

    .filter-item {
        border-radius: 15px;
        margin-bottom: 10px;
        background: #fff;
        box-shadow: 0px 4px 52px -10px rgba(24, 41, 86, 0.11);
        padding: 3px;
        // filter: drop-shadow(0px 0px 239.334px rgba(16, 32, 90, 0.22));

        .header {
            cursor: pointer;
            position: relative;
            user-select: none;
            padding: 13px 15px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: .3s ease-in-out;

            .count-circle {
                position: absolute;
                z-index: 5;
                right: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                transition: .3s ease-in-out;
                // background: linear-gradient(249deg, #FFB39B 10.24%, #CD75EB 101.13%);
                background: linear-gradient(251deg, #75ACFF 23.66%, #585FFF 101.74%);
                animation: valueBoxAnimation .3s ease-in-out;

                .text {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    animation: fadeIn .3s ease-in-out;
                }
            }

            .label {
                color: #212123;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
                transition: .2s ease-in-out;
            }

            .icon {
                color: #212123;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
                transform: rotateY(0);
                margin-right: -3px;
                transition: .2s ease-in-out;
            }

            &:hover {
                .label {
                    transform: scale(1.1) !important;
                    font-weight: 500;
                    color: #6BA6FF;
                }

                .icon {
                    color: #6BA6FF;
                }

                background: #f4f4f8cd;
            }
        }

        .children-wrapper {
            display: flex;
            user-select: none;
            animation: fadeIn .3s ease-in-out;
            padding: 0 10px 10px 5px;

            .line {
                background-color: #dbdbe6;
                min-width: 1px;
                min-height: 100%;
                margin-left: 15px;
            }

            .children {
                display: inline-block;
                height: 100%;
                user-select: none;
                animation: fadeIn .3s ease-in-out;

                .checkbox-wrapper {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 5px 10px;
                    max-width: 230px;

                    .label {
                        color: #212123;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130.5%;
                        margin-left: 7px;
                        box-sizing: border-box;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    &:hover {
                        .label {
                            color: #6BA6FF;
                        }

                    }
                }
            }

        }
    }
}




// --------  MAIN CONTENT STYLES

.results-inner-wrapper {
    display: flex;
    height: 100%;
    padding: 0px 5px 0px 5px;
    border-radius: 6px;
    // background-color: #fff;
    // box-shadow: -21px 0px 56.106px -18.965px rgba(16, 32, 90, 0.07);
    position: relative;
}


.list-filters-fixed {
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    gap: 5px;
    padding: 10px 15px 10px 50px;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(30px);
}

.list-header-wrapper {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.list-header {
    z-index: 6;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


.action-buttons-wrapper {
    display: flex;
    gap: 5px;
}


.filter-items-wrapper {
    display: flex;
    gap: 5px;

    .filter-item {
        display: flex;
        height: 35px;
        padding: 9px 15px;
        align-items: center;
        text-align: center;
        gap: 7.774px;
        flex-shrink: 0;
        border-radius: 20px;
        animation: valueBoxAnimation .4s ease-in-out;

        .label {
            color: #FFF;
            text-align: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%;
            // animation: fadeIn .3s ease-in-out;
        }
    }
}




.results-content-wrapper {
    width: 100%;
    position: relative;
}

.results-list-wrapper {
    z-index: 5;
    padding: 40px 15px 150px 0px;
    overflow: auto;
    height: 100%;
    position: relative;

    .result-card-wrapper {
        display: flex;
        align-items: baseline;
        padding-bottom: 15px;

        .result-card {
            display: flex;
            position: relative;
            flex-direction: column;
            width: 100%;
            padding: 20px 25px;
            // margin-left: 20px;
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0px 4px 52px -10px rgba(24, 41, 86, 0.11);

            .label {
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 200%;
                transition: .3s ease-in-out;

                &:hover {
                    color: #6BA6FF;
                }
            }

            .description {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 145%;
            }

            .text-container {
                line-height: 20px;
                overflow: hidden;

                .text {
                    display: block;
                    bottom: 0;
                    right: 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                    font-size: 12px !important;
                    font-style: normal;
                    font-weight: 400;
                }
            }

            .date {
                position: absolute;
                right: 20px;
                color: #696969;
                text-align: right;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 145%;
            }
        }
    }
}




.linear-filter-wrapper {
    padding: 30px 0;

    .linear-filter {
        position: relative;
        height: 31.241px;
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 15px;
        flex-shrink: 0;
        border-radius: 22.349px;
        background: #F2F2FA;
        animation: linerFilterAnimation .4s ease-in-out;

        .item {
            position: absolute;
            // width: 100%;
            height: 32px;
            border-radius: 10px;
            background-color: transparent;
            cursor: pointer;

            .item-marker {
                margin-right: -7px;
                height: 32px;
                // position: absolute;
                width: 7px;
                border-radius: 15px;
                background-color: #85be24;
                animation: linerFilterItemAnimation .5s ease-in-out;
            }

            &:hover {
                .item-marker {
                    transform: scaleX(1.2) scaleY(1.2);
                    box-shadow: 0px 0px 21.378px 0px #C3B9FF;
                }
            }
        }
    }
}




// ANIMATIONS

@keyframes linerFilterAnimation {
    0% {
        transform: scaleX(0);
    }

    70% {
        transform: scaleX(1.2);
    }

    100% {
        transform: scaleX(1);
    }
}


@keyframes linerFilterItemAnimation {
    0% {
        transform: scaleY(0);
    }

    70% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}