.results-details-content {
    position: relative;
    z-index: 5;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3.914px 52.841px -9.785px rgba(24, 41, 86, 0.11);
}