html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Nexa Bold;
  // overflow: hidden;
  height: 100%;
  // -ms-overflow-style: none;
  // /* IE and Edge */
  // scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


.uniq-wrapper {
  position: relative;
  background: #F2F4F8;
  // padding: 0 20px;
  height: 100vh;
  overflow: hidden;
}

.ant-input,
.ant-input-focused,
.ant-input:focus,
.ant-input:active,
.ant-input:hover {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background: none !important;
}


@import './modules/index.scss';
@import './components/index.scss';


.mainWrapper {
  // background-color: red;
}

.marked {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px 7px;
  border-radius: 15px;
  color: #fff;
  background-color: #000;
}

.empty-content {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truncate-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}


.order-action-button {
  background-color: rgb(229, 229, 229, .5);

  &:hover {
    background-color: rgb(229, 229, 229);
  }
}