.header-wrapper {
    z-index: 100;
    // position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    animation: .2s ease-in-out;

    .search-wrapper {
        display: inline-flex;
        padding: 5px 6.5px;
        align-items: flex-start;
        gap: 6.5px;
        border: 1px solid transparent;
        border-radius: 20.636px;
        background: rgba(172, 176, 198, 0.18);
        box-shadow: 0px 12.382px 58.606px -19.811px rgba(16, 32, 90, 0.33);
        backdrop-filter: blur(35px);
    }


    .logo {
        cursor: pointer;
        height: 50px;
        width: 120px;
    }

    .filter-button {
        display: flex;
        padding: 14px 20px;
        justify-content: center;
        align-items: center;
        gap: 9.547px;
        border-radius: 13.849px;
        background: #FFF;
        cursor: pointer;
        user-select: none;
        transition: .4s ease-in-out;

        .label {
            color: #000;
            text-align: center;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }

        .icon {}


        &:hover {
            background: linear-gradient(249deg, #FFB39B 10.24%, #CD75EB 101.13%);

            .label {
                color: #fff;
                transform: scale(1.05);
            }

            .icon {
                color: #fff;
                transform: scale(1.2);
                animation: buttonAnimation .4s ease-in-out;
            }
        }
    }


    .filter-button-selected {
        display: flex;
        padding: 14px 20px;
        justify-content: center;
        align-items: center;
        gap: 9.547px;
        border-radius: 13.849px;
        cursor: pointer;
        user-select: none;
        background: linear-gradient(249deg, #FFB39B 10.24%, #CD75EB 101.13%);
        transition: 0.4s ease-in-out;

        .label {
            text-align: center;
            font-size: 13px;
            font-style: normal;
            line-height: 125%;
            color: #fff;
            font-weight: 500;
        }

        .icon {
            color: #fff;
            transform: scale(1.1);
        }
    }


    .searcher {
        display: flex;
        width: 380px;
        height: 44px;
        padding: 4px 5px;
        justify-content: flex-end;
        align-items: center;
        gap: 9.547px;
        border-radius: 13.849px;
        background: #FFF;
        font-size: 15px;
        line-height: 16px;
        outline: none !important;
        transition: all 0.2s ease-in;
        border: 1px solid transparent;

        .button {
            cursor: pointer;
            user-select: none;
            display: flex;
            width: 88.33px;
            height: 35.105px;
            padding: 7.927px 11.324px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 10.192px;
            background: #EBEFF8;

            .icon {
                font-size: 18px;
                flex-shrink: 0;
                color: #6BA6FF;
            }

            .label {
                color: #000;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }

            &:hover {
                background: linear-gradient(249deg, #FFB39B 10.24%, #CD75EB 101.13%);

                .label {
                    color: #fff;
                    transform: scale(1.05);
                }

                .icon {
                    color: #fff;
                    transform: scale(1.1);
                    animation: buttonAnimation .4s ease-in-out;
                }
            }

            &:active {
                background: #5b91e2;

                .icon {
                    color: #fff;
                }

                .label {
                    color: #fff;
                }
            }
        }

        &:hover {
            border: 1px solid #90cfff;
            box-shadow: 0px 0px 2px 1px #a4d2ff;
        }

        &:focus,
        &:active {
            border: 2px solid #90cfff;
            box-shadow: 0px 0px 2px 1px #a4d2ff;
        }
    }

    .profile-wrapper {
        display: flex;
        align-items: center;

        .notification-wrapper {
            cursor: pointer;
            position: relative;
            display: flex;
            height: 45px;
            width: 45px;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 30px;
            margin-right: 20px;
            background: #efeff1;
            user-select: none;
            transition: .4s ease-in-out;

            .icon {
                font-size: 24px;
                color: #686868;
            }

            .count-circle {
                position: absolute;
                z-index: 5;
                right: -3px;
                top: -2px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                transition: .3s ease-in-out;
                // background: linear-gradient(249deg, #FFB39B 10.24%, #CD75EB 101.13%);
                background: linear-gradient(251deg, #75ACFF 23.66%, #585FFF 101.74%);
                animation: valueBoxAnimation .3s ease-in-out;

                .text {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    animation: fadeIn .3s ease-in-out;
                }
            }

            &:hover {
                background: linear-gradient(249deg, #FFB39B 10.24%, #CD75EB 101.13%);

                .icon {
                    color: #fff;
                    transform: scale(1.1);
                    animation: buttonAnimation .4s ease-in-out;
                }
            }
        }
    }
}